body {
    height: 100%;
    margin: 0;
    background-color: #202020;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#grid {
    border: 0.2rem solid #ffffff;
}